<footer class="site-footer">

  <div class="wrapper">

    <div class="site-footer-top">

      <div class="site-footer-top-inner">

        <ul>

          <li>Brisbane</li>
          <li class="spacer"></li>
          <li>Gold Coast</li>
          <li class="spacer"></li>
          <li>Laidley</li>
          <li class="spacer"></li>
          <li>Plainlands</li>
          <br>
          <li>Gatton</li>
          <li class="spacer"></li>
          <li>Toowoomba</li>
          <li class="spacer"></li>
          <li>Highfields</li>

        </ul>

      </div>

    </div>

    <div class="site-footer-bottom">

      <a href="mailto:{{ site.email | contact@goldendragon.property }}">Contact: {{ site.email | contact@goldendragon.property }}</a>

    </div>

  </div>

</footer>
